$colorbackground:rgb(245, 248, 252);
$colorbackground2:#4695fc;
$colorbackground3:#807C73;
$colorbackground4:#807C73;
// pas utilisé encore :
$colorprimary: #464646;
$colorsecondary: #eeeeee;
$colortertiary: #99E2D0;
$colorgreytext1: #5c5c5c;
$shadowmobile: 0px 0px 10px darkgrey;
$shadowbox:1px 5px 18px white; //à priori il s'en cogne des couleurs
$textshadow:grey;