@import "./variables";
@import "./menu_burger";
@import "./animations";

// general, puis toggle, puis les pages, prix, galerie, infos, secret
// test de commentaire

*{
    box-sizing: border-box;
    text-shadow: 0 0 1px $textshadow; 
}
a{
    text-decoration: none;
    color: $colorprimary;
    &:visited{
        color: $colorprimary;
    }        
}
body
{
    margin: 0;    
    padding: 0;
    min-width: 380px;
    max-width: 1400px;
    background: $colorbackground;
    color: $colorprimary;
    font-family: "Roboto", "Avenir", sans-serif;
    animation: fromUp 1.8s;
    & em{
        font-style:normal;         
        text-shadow: 0 0 2px $textshadow;
    }
    & a {
        font-weight: bold;
    }
.vimeo{
    margin-top: 20px;
}
}
.sub-menu {
    display: none;
    & a {
        background-color: #fff;
    }
}
header{    
    position:sticky;
    background-color: $colorbackground;
    top:0px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img{
        margin: -10px 0 -10px 0;
        width: 70px;
    }
}
h1, h2{
    text-align: center;
}
#lang {
    background-color: $colorsecondary;        
        border-radius: 20px;
        padding: 0 20px 0 20px;
}

main{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    & p{
        text-align: center;
        margin: 0 5px;
    }
}
video{    
    max-width: 100%;
    min-height: 250px;
    object-fit: cover;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    box-shadow: $shadowmobile;
    pointer-events: none;
    // test
}
figure{        
    margin: 0;
    padding: 0;    
    & img{        
        width: 100%;
    }
}
.flexi{    
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    & a{
        box-shadow: $shadowmobile;
        margin: 10px 0 10px 0;
        padding: 0 0 20px 0;
        max-width: 800px;        
    }
}
#feednpart {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


#partnairesListe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    & img {
        margin: 5px;;
        width: 100px;
    }
}
#whoweare {
    & figure{
        margin: 20px 0 18px 0;
        padding-bottom: 10px;
        max-width: 600px;        
        box-shadow: $shadowmobile;
        & img{
            width: 100%;
        }
        & a{
            box-shadow: none;
        }
    }
}
footer{
    margin-top: 0;
    padding: 10px;
    background-color: lightcyan;
    text-align: center;
    & p {
        margin-top: 0;
    } 
    & #footicons{
        display: flex;
        padding: 0;
        justify-content:center;
        & img{
            width: 50px;
            margin: 10px 20px 10px 20px;
        }
    }    
}
// Toggle - used in Prices and Menus
.block {
    display: none;
  }
  
  .visible {
    display: block;
  }

// pages
img {
    width: 100%;
}
#headsection {
    display: flex;
    flex-direction: column;
    max-height: 280px;
    & h1 {
        margin-top: -160px;
    }
    & h1, h2 {
        text-shadow: 1px 1px 2px black;
    }
    & img {
        max-height: 280px;
        object-fit: cover;
    }
}
#headsection h1, #headsection h2{
    color: white;
    font-size: 1.8em;    
}
#mainsection {
    margin-top: 20px;    
}
.flexdiv {
    display: flex;
    flex-direction: column;
    align-items: center;           
}
.fleximg {    
    margin-top: 20px;
    max-width: 800px;
}
.flextext p {
    text-align: justify;
}
// accueil : le triadvisor
// #TA_selfserveprop766{
//     background-color: aqua;
//     max-width: 100%;
// }
// accueil tripad list... non, les deux sont remplacés par des srcipts

//pages prix
#mainprice{
    margin-top: 30px;
}
#packages{    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.packs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;    
    max-width: 700px;
    box-shadow: $shadowmobile;   
    & aside {
        transform:translateY(-50px);
        background-color: white;
        padding: 10px 10px 20px 10px;
        & h2{
            margin-top: 5px;
        }
    }
    & ul {
        list-style-type:'- ';
    }
}
.price{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & button {
        border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;    
    background-color: rgb(92, 179, 206);
    
    }
}
#prixlessons{    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.groupPrice{        
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 700px;
    & img{
        margin: 5px;
    }
}
// PAge galerie
#containervimeo{
    width: 100%;
    height: 100%;
    // background-color:red ;
    position: relative;
}
.vid{
    max-width: 100%;
}
#bug{
    width: 450px;
    height: 300px;
}
// Page Infos
li img, .arrow{
    width: 11px;
}
#introinfos{    
    margin-top: 30px;    
    
    & ul{
        list-style-type:'| ';
        display: flex;
        flex-wrap: wrap;
        & li{
            margin-left: 20px;
        }        
    }
}
#piti {
    font-size: smaller;
}
// Page videos 
#videos{
    text-align: center;
    margin: 20px;    
    & iframe{        
        max-width: 100%;
    }
    // & > div{
    //     // position: absolute;
    //     display: block;
    //     max-width: 100px;
    // }
}

// Page secret
.secret{
    & a{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#mora {
    max-width: 900px;
    margin: 20px auto;
}
// hallucinant : après plusieurs manip, le responsive ne fonctionne qu'en important ici ci-dessous
@import "./desktopresponsive";

